
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.accordion-title {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 10px;
    padding-left: 20%;
    cursor: pointer;
    background-color:#F0F0F0;
}
.accordion-title:hover {
    font-weight: 600;

    .link {
        font-weight: normal;
        gap: 0;
    }
    .sign {
        font-weight: 600;
    }
}
.accordion-content {
    background-color: #F0F0F0;
}
.link{
    display: flex;
    color: blue;
}
.sign{
    color:initial;
    text-decoration: none;
}
